nav {
    display: flex;
    justify-content: flex-end;

    a {
        text-decoration: none;
        color: white;
        font-size: 2.5em;
        font-family: 'Indie Flower', cursive;
        padding-right: 1em;
        @media @mobile {
            padding: 0;
        }
    }
}